<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Makers BnB</title>
</head>
<body>
  <h1> Goodbye! </h1>
  <form action='/' method='get'>
    <input type='submit' value='Back to homepage!'>
  </form>
</body>
</html>
